@model ArticlProject.Core.AuthorPost

@{
    ViewData["Title"] = "حذف";
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
}

<h1 style="font-family:Cairo">حذف</h1>

<h3>هل انت متأكد من هذا لاجراء؟</h3>
<div>
    <h4 style="font-family:Cairo">بيانات المشاركة</h4>
    <hr />
    <dl class="row">
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostDescription)
        </dd>
        <dt class="col-sm-2">
            <img src="~/Images/@Model.PostImageUrl" class="img-fluid" />
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostImageUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddedDate)
        </dd>
      
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="حذف" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
