@model ArticlProject.Core.AuthorPost

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
}

<h1 style="font-family:Cairo">التفاصيل</h1>

<div>
    <h4 style="font-family:Cairo">تفاصيل المشاركة</h4>
    <hr />
    <dl class="row">
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostImageUrl)
        </dt>
        <dd class="col-sm-10">
            <img src="~/Images/@Model.PostImageUrl" class="img-fluid" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddedDate)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">تعديل</a> |
    <a asp-action="Index">الرجوع الى المشاركات</a>
</div>
