@model IEnumerable<ArticlProject.Core.Category>
@{
    ViewData["Title"] = "قائمة الاصناف";
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
}

<h1 style="font-family:Cairo">الاصناف</h1>

<p>
    <a class="btn-primary" asp-action="Create">اضافة صنف جديد</a>
</p>
<br />
<form method="get" asp-action="Search">
    <input type="search" name="SearchItem" class="search-field" />
    <input type="submit" value="بحث" class="btn-primary" />
</form>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name);
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">تعديل</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">حذف</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{ if (Model.ToList().Count < 10)
    {
        int id = 0;
        <a asp-action="Index" asp-route-id="@id">الصفحة الاولى</a> ;
    }
    else
    {
        <a asp-action="Index" asp-route-id="@Model.ToList().Last().Id">التالي</a> ;
    }
}
